{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "css/blog.css" %}">
<style>
html {
	font-family: 'Playball';

}
</style>
</head>
<h1>
<p>Trek In The park</p>

<p>The Trouble With Tribbles</p>

<p>The Further Adventures of the Chinchilla and the Redhead</p>
</h1>
</html>

<html>
<p>Just got back from Trek in the Park. They were wonderful! Just a fab production. Thousands there. I got tons of pics I still need to download. Spunkers stole the show! I got there early and walked about, looking for a place to camp. People noticed him on my shoulder. Many came up to pet him. After the show, I walked up to the stage, where people were taking picks of the crew and kids sitting in the captain's chair. Kirk and Spock and Yeoman Rand all wanted to hold him, and I got pics of them doing so. I'll post pics in a bit.</p>

<p>Great cast and great performance!</p>

<p>I'm laffing my arse off here. Such a fun time. I took binocs, and was a good thing, as I ended up way in the back, which was only a block away from where I found a place to park! I swear I have a 'parking fairy' now, and found a spot right up close, which was weird. Cars were lining blocks for blocks on end.</p>

<p>We get there, and I take him out of his travel cage, and slipped a harness with lead on him. He is named Spunkers Virgil Hilts for a reason, and set him on my shoulder and walked to the park.</p>

<p>We ended up sitting on a pic-a-nic table near the street, after walking through the crowd. It was a secluded spot, shaded, and wouldn't distract people from the performance. That's where the binocs came in handy.</p>

<p>
<img src=http://oi61.tinypic.com/2dt8j4.jpg>
</p>

<p>They took a break only because a train blew through, blowing it's horn. Wise choice to let it pass and then continue. They did such a great job. It seems they announced on their site last winter a call for homemade 'tribbles'. People across the country made and sent them in. Kirk was buried in them when he opened the hatch!</p>

<p>They are very kind performers and even tho I hesitated, they asked if they could hold him. I jumped on that, and started taking pics. Others did too! I promised to send them to their FB page too. I told them my geeky friends were going to love these pics. Such a clever troupe of players. Temp was 77F, so Spunkanator held up well. So many people came up to meet Spunksy! He seemed quite at ease on my shoulder and in the hands of the cast.</p>

<p>
<img src=http://oi61.tinypic.com/2dt8j4.jpg>
</p>

<p>Spunkers really is his own little ambassador. He got that name because within 24 hours of birth he was jumping out of the cage to explore. He was born with Spunk. Then he kept it up and got the name Virgil Hilts added. He escapes, and back in 'the cooler' he goes.</p>

<p>
<img src=http://oi62.tinypic.com/1043fnl.jpg>
</p>
<p>
<img src=http://oi57.tinypic.com/iozxc8.jpg>
</p>
<p>
<img src=http://oi57.tinypic.com/ndahxg.jpg>
</p>
<p>
<img src=http://oi57.tinypic.com/2n72wkm.jpg>
</p>

<p>I only found out about this troupe about 3 weeks ago, when I took my SFAM out for lunch in the park, and we found 'Shakespeare in the Park'. Their motto is 'Because Shakespeare Should Be A Little Dangerous'. My SFAM and I were giggling about that show as we hit what might be the largest liquor store in the city. The clerk told us about Trek in the Park. I told Spock about that. He asked which liquor store? I told him which one, and he grinned and said they know them well there. I guess they have been at it for 5 years now. They are worth following.</p>

<p>
<img src=http://oi58.tinypic.com/2qcifsl.jpg>
</p>
<p>
<img src=http://oi57.tinypic.com/n5jytw.jpg>
</p>
</html>


